# PostgreSQL
POSTGRES_USER=postgres

# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=r9)p98d0ns%prjio*hnsy-m+%*nx2ok&rucwsm8_+8iuo(7715
DJANGO_ALLOWED_HOSTS=demo.icbs.ir

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=False
# Sentry
DJANGO_SENTRY_DSN=

DJANGO_OPBEAT_ORGANIZATION_ID
DJANGO_OPBEAT_APP_ID
DJANGO_OPBEAT_SECRET_TOKEN

