/* Coolors Exported Palette - coolors.co/009ddc-283845-6bffb8-7cfef0-fffdfc */

/* HSL */
$color1: hsla(197%, 100%, 43%, 1);
$color2: hsla(207%, 27%, 21%, 1);
$color3: hsla(151%, 100%, 71%, 1);
$color4: hsla(174%, 98%, 74%, 1);
$color5: hsla(20%, 100%, 99%, 1);

/* RGB */
$color1: rgba(0, 157, 220, 1);
$color2: rgba(40, 56, 69, 1);
$color3: rgba(107, 255, 184, 1);
$color4: rgba(124, 254, 240, 1);
$color5: rgba(255, 253, 252, 1);
